header{
    border: 2px solid grey;
    height: 200px;
    width: 300px;
}
.type{
    color: blue;
    font-family: sans-serif;
    text-align: left;
}
div p{
    font-style: italic;

}
footer{
    color: green;
    border: dashed bisque;
    background-color: ;
}