body{
    
    box-sizing: border-box;
}
header img,h1{
    color: blue;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    border: 2px solid green;
    padding: 0%;
}
#type0{
    height: 300px;
    width: 500px;
    position: relative;
    left: 35%;
}
img{
    height: 300px;
    width: 300px;
    flex-wrap: wrap;
    float: column;
    clear: left;
    flex-wrap: nowrap;
    flex-flow: row;
    position: relative;
    margin: 30px;
}
h1{
    text-align: center;
}
.ul{
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    padding: 10px;
    background-color: gray;
}
footer{
    border: 2px dotted gray;
    background-color: darkkhaki;
}
.image{
    background-color: black;
    color: lightgrey;
}
.typ{
   background: url("./websitephoto");
   background-repeat: no-repeat;
   background-size: cover;
   {