body{
    background-color: blueviolet;
}
header img,h1{
    color: blue;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    border: 2px solid green;
    padding: 0%;
}
#type0{
    height: 300px;
    width: 500px;
}
img{
    height: 300px;
    width: 500px;
    flex-wrap: wrap;
    float: column;
    clear: left;
    flex-wrap: nowrap;
    flex-flow: column;
}
h1{
    text-align: center;
}
ul{
    text-align: left;
}
footer a:hover{
    color: blueviolet;
    background-color: cornflowerblue;
}